<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login Page</title>
		<!-- 样 式 文 件 -->
		<link rel="stylesheet" href="../statics/component/pear/css/pear.css" />
		<link rel="stylesheet" href="../statics/admin/css/other/login.css" />
	</head>
    <!-- 代 码 结 构 -->
	<body background="../statics/admin/images/welcome.gif" id="web_bg">
		<form class="layui-form" action="javascript:void(0);">
			<div class="layui-form-item">
				<input placeholder="在此输入关键词" lay-verify="required" hover class="layui-input"  /><button type="button" class="pear-btn pear-btn-success login" lay-submit lay-filter="login">搜索</button>
			</div>
		</form>
		<!-- 资 源 引 入 -->
		<script src="../statics/component/layui/layui.js"></script>
		<script src="../statics/component/pear/pear.js"></script>
		<script>
			layui.use(['form', 'button', 'popup'], function() {
				var form = layui.form;
				var button = layui.button;
				var popup = layui.popup;
				
                // 登 录 提 交
				form.on('submit(login)', function(data) {
					
					/// 验证
					
					/// 登录
					
					/// 动画
					button.load({
						elem: '.login',
						time: 1500,
						done: function() {
							popup.success("登录成功", function() {
								location.href = "index.html"
							});
						}
					})
					return false;
				});
			})
		</script>
	</body>
</html>
