<!DOCTYPE html>
<html lang="en" xmlns:th="http://thyneleaf.org">
<head>
    <title>CompetitiveKeywords</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700" rel="stylesheet">

    <link rel="stylesheet" href="../fonts/icomoon/style.css">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/magnific-popup.css">
    <link rel="stylesheet" href="../css/jquery-ui.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">

    <link rel="stylesheet" href="../css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="../fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="../css/aos.css">
    <link rel="stylesheet" href="../css/rangeslider.css">

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/more.css">
    <link rel="stylesheet" href="../component/pear/css/pear.css" />

</head>
<body>

<div class="site-wrap">

    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar" role="banner">

        <div class="container">
            <div class="row align-items-center">

                <div class="col-11 col-xl-2">
                    <h1 class="mb-0 site-logo"><a href="../index.html" class="text-white h2 mb-0">竞争关键字</a></h1>
                    <h5 style="color: white">推荐</h5>
                </div>
                <div class="col-12 col-md-10 d-none d-xl-block">
                    <nav class="site-navigation position-relative text-right" role="navigation">

                        <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                            <li><a href="../index.html"><span>主页</span></a></li>
                            <li><a href="introduction.html"><span>算法介绍</span></a></li>
                            <li class="active"><a href="table.html"><span>数据分析</span></a></li>
                            <li><a href="contact.html"><span>联系我们</span></a></li>
                        </ul>
                    </nav>
                </div>
                <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>
            </div>

        </div>
    </header>
</div>





<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url(../images/analyse.png);" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-10" data-aos="fade-up" data-aos-delay="400">
                <div class="row justify-content-center">
                    <div class="col-md-8 text-center">
                        <h1>数据分析</h1>
                        <h3 th:text="${word}" style="margin: 5%;color: #2d9292;font-weight: bold"></h3>
                        <p data-aos="fade-up" data-aos-delay="100">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate beatae quisquam perspiciatis adipisci ipsam quam.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center" data-aos="fade-up" data-aos-delay="100">
                <h1 class="font-weight-light text-primary">Word Cloud</h1>
                <p class="color-black-opacity-5">Competitive keywords play an important role in all aspects of life</p>
            </div>
        </div>
        <div class="layui-card" style="margin-left: 40px;margin-right: 40px;">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div id="wordcloud_echarts" style="min-height:400px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center" data-aos="fade-up" data-aos-delay="100">
                <h1 class="font-weight-light text-primary">CompKey Result</h1>
                <p class="color-black-opacity-5">Competitive keywords play an important role in all aspects of life</p>
            </div>
        </div>
        <div class="layui-card" style="margin-left: 40px;margin-right: 40px;">
            <div class="layui-card">
                <div class="layui-card-body">
                    <table id="test" lay-filter="test"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center" data-aos="fade-up" data-aos-delay="100">
                <h1 class="font-weight-light text-primary">CompKey Compare</h1>
                <p class="color-black-opacity-5">Competitive keywords play an important role in all aspects of life</p>
            </div>
        </div>
        <div class="layui-card" style="margin-left: 40px;margin-right: 40px;">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div id="column1" style="min-height:400px;"></div>
                    <div th:text="${word}" style="display: none" id="zhang"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center" data-aos="fade-up" data-aos-delay="100">
                <h1 class="font-weight-light text-primary">5 Times of Scoring Results</h1>
                <p class="color-black-opacity-5">Competitive keywords play an important role in all aspects of life</p>
            </div>
        </div>
        <div class="layui-card" style="margin-left: 40px;margin-right: 40px;">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div id="line3" style="min-height:400px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center" data-aos="fade-up" data-aos-delay="100">
                <h1 class="font-weight-light text-primary">Your Evaluate</h1>
                <p class="color-black-opacity-5">Competitive keywords play an important role in all aspects of life</p>
            </div>
        </div>
        <h2 class="h2 text-black">您的感知评价</h2>
        <h4 class="h4 text-black">请为竞争关键字搜索结果打分：打分1-5分，1-非常低，5-非常高</h4>
        <form action="#" method="post">
            <table class="layui-table" rules="none" style="margin-top: 5%">
                <tr th:each="item,iterStat:${arrayList}">
                    <td align="center" th:text="${item.compkey}" style="width: 20%;color: #2d9292;font-weight: 700;font-size: 22px">怀孕</td>
                    <td>
                        <div class="radio">
                            <input type="radio" class="form-control" id="1" value="1" th:name="'xing'+${iterStat.index}" checked>
                            <label for="1" class="radio-label">1</label>
                        </div>
                    </td>
                    <td>
                        <div class="radio">
                            <input type="radio" class="form-control" id="1.5" value="1.5" th:name="'xing'+${iterStat.index}">
                            <label for="1.5" class="radio-label">1.5</label>
                        </div>
                    </td>
                    <td>
                        <div class="radio">
                            <input type="radio" class="form-control" id="2" value="2" th:name="'xing'+${iterStat.index}">
                            <label for="2" class="radio-label">2</label>
                        </div>
                    </td>
                    <td>
                        <div class="radio">
                            <input type="radio" class="form-control" id="2.5" value="2.5" th:name="'xing'+${iterStat.index}">
                            <label for="2.5" class="radio-label">2.5</label>
                        </div>
                    </td>
                    <td>
                        <div class="radio">
                            <input type="radio" class="form-control" id="3" value="3" th:name="'xing'+${iterStat.index}">
                            <label for="3" class="radio-label">3</label>
                        </div>
                    </td>
                    <td>
                        <div class="radio">
                            <input type="radio" class="form-control" id="3.5" value="3.5" th:name="'xing'+${iterStat.index}">
                            <label for="3.5" class="radio-label">3.5</label>
                        </div>
                    </td>
                    <td>
                        <div class="radio">
                            <input type="radio" class="form-control" id="4" value="4" th:name="'xing'+${iterStat.index}">
                            <label for="4" class="radio-label">4</label>
                        </div>
                    </td>
                    <td>
                        <div class="radio">
                            <input type="radio" class="form-control" id="4.5" value="4.5" th:name="'xing'+${iterStat.index}">
                            <label for="4.5" class="radio-label">4.5</label>
                        </div>
                    </td>
                    <td>
                        <div class="radio">
                            <input type="radio" class="form-control" id="5" value="5" th:name="'xing'+${iterStat.index}">
                            <label for="5" class="radio-label">5</label>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<div class="py-5 bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mr-auto mb-4 mb-lg-0">
                <h2 class="mb-3 mt-0 text-white">Let's get started. Create your account</h2>
                <p class="mb-0 text-white">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
            <div class="col-lg-4">
                <p class="mb-0"><a href="signup.html" class="btn btn-outline-white text-white btn-md px-5 font-weight-bold btn-md-block">Sign Up</a></p>
            </div>
        </div>
    </div>
</div>

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6 mb-5 mb-lg-0 col-lg-3">
                        <h2 class="footer-heading mb-4">Quick Links</h2>
                        <ul class="list-unstyled">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Testimonials</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 mb-5 mb-lg-0 col-lg-3">
                        <h2 class="footer-heading mb-4">Products</h2>
                        <ul class="list-unstyled">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Testimonials</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 mb-5 mb-lg-0 col-lg-3">
                        <h2 class="footer-heading mb-4">Features</h2>
                        <ul class="list-unstyled">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Testimonials</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 mb-5 mb-lg-0 col-lg-3">
                        <h2 class="footer-heading mb-4">Follow Us</h2>
                        <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                        <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                        <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                        <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <form action="#" method="post">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary text-white" type="button" id="button-addon2">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row pt-5 mt-5">
            <div class="col-12 text-md-center text-left">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright ©<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">汤臣一品电子商务小组</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>


<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/jquery-migrate-3.0.1.min.js"></script>
<script src="../js/jquery-ui.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/owl.carousel.min.js"></script>
<script src="../js/jquery.stellar.min.js"></script>
<script src="../js/jquery.countdown.min.js"></script>
<script src="../js/jquery.magnific-popup.min.js"></script>
<script src="../js/bootstrap-datepicker.min.js"></script>
<script src="../js/aos.js"></script>
<script src="../js/rangeslider.min.js"></script>

<script src="../js/main.js"></script>
<script src="../component/layui/layui.js"></script>
<script src="../component/pear/pear.js"></script>
<script src="../script/line3.js"></script>
<script src="../script/column1.js"></script>
<script src="../js/echart3.js"></script>
<script src="../js/echarts-wordcloud.js"></script>
<script th:inline="javascript">
    layui.use(['table', 'form', 'jquery', 'drawer', 'dropdown','rate'], function() {
        let table = layui.table,
            layer = layui.layer,
            rate  =layui.rate;
        let form = layui.form;
        let $ = layui.jquery;
        let drawer = layui.drawer;
        let dropdown = layui.dropdown;

        let MODULE_PATH = "/system/user/";

        let word = [[${word}]];

        let cols = [
            [
                {
                    title: '序列',
                    field: 'sequence',
                    align: 'center',
                    width: 80
                },
                {
                    title: '竞争关键字',
                    field: 'compkey',
                    align: 'center',
                    width: 100
                },
                {
                    title: '中介关键字',
                    field: 'midkey',
                    align: 'center'
                },
                {
                    title: '竞争度',
                    field: 'compPower',
                    align: 'center',
                },
                {
                    title: '满意度',
                    field: 'satisfaction',
                    align: 'center',
                    sort:true,
                    id:'rate',
                    templet: function (d) {
                        //在设置星级的列中用templet函数转义，其中d.id代表该行的id值.第一行的评分的id=start1，第二行的评分的id=star2.....用在后面循环赋值。很重要！
                        return '<div id="star'+d.sequence+'" style="font-size: 30px;alignment: center"></div>'
                    }
                }
            ]
        ]

        //console.log("hhhhhhhhh")

        //修改这里的url可以传后台数据
        table.render({
            elem: '#test',//注意这个值
            // id:"test",//table的id值
            url: 'http://localhost:8888/grade/setGrade',
            where: {
                "word" : word,//请求参数
            },
            method: 'get',//请求方式
            // contentType: "text/json;charset=utf-8",//数据类型
            // toolbar: '#toolbarDemo',
            jump: function(obj){
                console.log(obj)
            },
            cols:cols,
            //回调函数，在里面设置rate.render(),给rate循环赋值
            even:true,//隔行变色
            done:function(res){
                //console.log(res.data);
                var data = res.data;//返回的json中data数据
                var that = this.elem.next();
                table_data = data;//全局变量，用在后面排序，与这个循环无关。
                for (var item in data) {
                    //星级
                    rate.render({//循环设置评分
                        elem: '#star'+data[item].sequence+''//给不同的id的rate绑定不同的值
                        , length: 5            //星星个数
                        , value: data[item].satisfaction      //初始化值
                        , theme: '#009688'     //颜色
                        , half: true           //支持半颗星
                        , text: false           //显示文本，默认显示 '3.5星'
                        // , readonly: true      //只读
                    });
                };
                $('th').css({'background-color':'#00918e','color':'#000000','font-weight':'bold','font-size':'20px'})
            }
        });

        table.on('tool(tableList)', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            if (layEvent == 'detail') {
                common.cmsLayOpen('查看', "/Page.aspx?Id=" + data.Id, '100%', '100%'); //点击某一列打开新的页面
            }
        });

        window.refresh = function(param) {
            table.reload('user-table');
        }
    })
</script>
<script>
    var myChart = echarts3.init(document.getElementById('wordcloud_echarts'));
    var word = document.getElementById('zhang').innerText;
    var keywords = [];
    $.ajax({
        type: 'post',
        async : false,
        data:{
            word: word
        },
        url: 'http://localhost:8888/cloud/getCloud',//请求数据的地址
        dataType: "json",        //返回数据形式为json
        success: function (result) {
            console.log("yyyyyyyyyyyyyyyyyy");
            console.log(result)
            keywords = result;
        },
        error: function (errorMsg) {
            //请求失败时执行该函数
            alert("图表请求数据失败!");
            echarts.hideLoading();
        }
    });
    var option = {
        series: [{
            type: 'wordCloud',
            sizeRange: [15, 80],
            rotationRange: [0, 0],
            rotationStep: 45,
            gridSize: 8,
            shape: 'smooth',
            width: '100%',
            height: '100%',
            textStyle: {
                normal: {
                    fontFamily: 'sans-serif',
                    //fontWeight: 'bold',
                    // Color can be a callback function or a color string
                    color: function () {
                        // Random color
                        return 'rgb(' + [
                            Math.round(Math.random() * 160),
                            Math.round(Math.random() * 160),
                            Math.round(Math.random() * 160)
                        ].join(',') + ')';//字体的随机颜色
                    }
                },
                emphasis: {//鼠标移入的特效样式
                    shadowBlur: 10,
                    shadowColor: '#d1e5fd'
                }
            },
            data: keywords
        }]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
    window.addEventListener("resize", function() {
        myChart.resize();
    });
</script>

</body>
</html>