<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.csu.electriccommerce.persistence.GradeMapper">

    <select id="getGrade" parameterType="String" resultType="org.csu.electriccommerce.entity.Grade">
    SELECT avg(cpgrade) AS satisfaction
    FROM grade
    where keyword = #{keyword}
    AND compkey = #{compkey}
    </select>

    <insert id="addGrace" parameterType="org.csu.electriccommerce.entity.Hunhe" >
        INSERT INTO grade
        (keyword,compkey,cpgrade)
        VALUES
        (#{keyword},#{compkey},#{grade})
    </insert>
</mapper>