<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.csu.electriccommerce.persistence.MainMapper">
    <insert id="addKeyword" parameterType="String">
    INSERT INTO compword
    (keyword,compword)
    VALUES
    (#{keyword},#{compword})
    </insert>

    <insert id="addHunhe" parameterType="org.csu.electriccommerce.entity.Hunhe">
        INSERT INTO compword(keyword,midkey,compkey,comppower) VALUES (#{keyword},#{midkey},#{compkey},#{compPower});
    </insert>

    <select id="getCount" parameterType="String" resultType="int">
        SELECT count(keyword = #{keyword}) FROM compword;
    </select>

    <select id="findComp" parameterType="String" resultType="org.csu.electriccommerce.entity.Hunhe">
        SELECT keyword,midkey,compkey,comppower
        FROM compword
        where keyword = #{keyword}
    </select>

    <select id="getcomp" parameterType="String" resultType="String">
        SELECT
        compword,
        competitive
        FROM compword
        where keyword = #{keyword}
    </select>

</mapper>