<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.csu.electriccommerce.persistence.MainMapper">
    <insert id="addKeyword" parameterType="String">
    INSERT INTO compword
    (keyword,compword)
    VALUES
    (#{keyword},#{compword})

    </insert>
    <select id="getcomp" parameterType="String" resultType="String">
        SELECT
        compword,
        competitive
        FROM compword
        where keyword = #{keyword}
    </select>

</mapper>